@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
    /*
	Configure your Tailwind theme that will be used by Starlight.
	https://starlight.astro.build/guides/css-and-tailwind/#styling-starlight-with-tailwind
	*/
    /* Generated accent color palettes. */
    --color-accent-200: #d4c6b8;
    --color-accent-600: #89633c;
    --color-accent-900: #3f2f1e;
    --color-accent-950: #2c2217;
    /* Generated gray color palettes. */
    --color-gray-100: #f6f6f6;
    --color-gray-200: #eeeeed;
    --color-gray-300: #c2c2c2;
    --color-gray-400: #8b8b8b;
    --color-gray-500: #585858;
    --color-gray-700: #383838;
    --color-gray-800: #272727;
    --color-gray-900: #181818;
}

/*
Add additional Tailwind styles to this file:
https://tailwindcss.com/docs/adding-custom-styles#using-custom-css
*/
