---
name: Build

on:
  push:
    branches:
      - main
    tags:
      - '[0-9]+\.[0-9]+\.[0-9]+'

jobs:
  test:
    uses: ./.github/workflows/test.dispatch.yaml

  build:
    needs: [test]
    uses: ./.github/workflows/build.dispatch.yaml
    permissions:
      contents: write
      id-token: write
      attestations: write

  release:
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: ${{ needs.build.outputs.artifact-name }}

      - name: Create release
        uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 # v2.4.1
        with:
          body_path: ${{ needs.build.outputs.notes-file }}
          files: |
            ${{ needs.build.outputs.package-file }}
            ${{ needs.build.outputs.attestation-file }}

  homebrew:
    if: ${{ startsWith(github.ref, 'refs/tags/') && !contains(github.ref, '-') }}
    needs: [release]
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Required info
        id: info
        env:
          TAG: ${{ github.ref_name }}
        run: |
          DOWNLOAD_URL="https://github.com/andreswebs/mcbox/releases/download/${TAG}/mcbox-${TAG}.tar.gz"
          echo "download-url=${DOWNLOAD_URL}" >> "${GITHUB_OUTPUT}"

      - name: Update formula
        uses: mislav/bump-homebrew-formula-action@56a283fa15557e9abaa4bdb63b8212abc68e655c # v3.6
        with:
          formula-name: mcbox
          formula-path: Formula/mcbox.rb
          homebrew-tap: andreswebs/homebrew-tap
          base-branch: main
          download-url: ${{ steps.info.outputs.download-url }}
          create-pullrequest: true
          commit-message: |
            {{formulaName}} {{version}}

            Created by https://github.com/mislav/bump-homebrew-formula-action
        env:
          COMMITTER_TOKEN: ${{ secrets.HOMEBREW_TAP_COMMITTER_TOKEN }}
