---
name: Test

defaults:
  run:
    shell: bash

on:
  workflow_call:
    inputs:
      runs-on:
        required: false
        type: string
        default: ubuntu-latest
      shfmt-version:
        required: false
        type: string
        default: v3.12.0

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: recursive

      - name: Ensure jq and shellcheck are installed
        run: |
          if ! command -v "jq" &>/dev/null; then
              sudo apt-get update && sudo apt-get install --yes --quiet jq
          fi
          if ! command -v "shellcheck" &>/dev/null; then
              sudo apt-get update && sudo apt-get install --yes --quiet shellcheck
          fi

      - name: Ensure shfmt is installed
        env:
          SHFMT_VERSION: ${{ inputs.shfmt-version }}
        run: |
          if ! command -v "shfmt" &>/dev/null; then
              curl \
                  --silent \
                  --show-error \
                  --location \
                  "https://github.com/mvdan/sh/releases/download/${SHFMT_VERSION}/shfmt_${SHFMT_VERSION}_linux_amd64" \
                  --output /tmp/shfmt
              sudo install /tmp/shfmt /usr/local/bin/
          fi

      - name: Verify shell script formatting
        run: |
          ./test/shfmt.bash

      - name: Lint shell scripts
        run: |
          ./test/shellcheck.bash

      - name: Run test suite
        run: |
          ./test/test.bash
